* {
  margin: 0%;
  padding: 0%;
}

html,
body {
  height: 100%;
  width: 100%;
}

.classes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.colorfont {
  color: blue;
  text-align: center;
  font-weight: bolder;
}

h2 {
  margin: 10px;
  background-color: aqua;
  padding: 10px;
}
